@import 'variables';
@import 'steps';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  margin: 0px;
  padding: 0px;
  background: #eaf6fd;
  overflow-x: hidden;

  & .main {
    height: 100vh;
    width: 100%;

    &-text {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 30px;
      color: #8b8783;
    }

    &-logo {
      position: absolute;
      width: 100%;
      top: calc((100vh / 2) - 225px);
      z-index: -1;
      transition: transform 0.1s ease;

      & img {
        width: 400px;
        object-fit: contain;
      }
    }

    &-clouds1 {
      position: absolute;
      bottom: 135px;
      z-index: 1;
      transition: transform 0.5s ease;
      opacity: 0.5;
      animation: moveClouds 70s linear infinite;

      img {
        width: 300px;
      }
    }

    &-clouds2 {
      position: absolute;
      bottom: 60px;
      z-index: 1;
      transition: transform 0.5s ease;
      opacity: 0.5;
      animation: moveClouds 100s linear infinite;
      overflow: hidden;

      img {
        width: 300px;
        overflow: hidden;
      }
    }

    &-clouds3 {
      position: absolute;
      bottom: 120px;
      z-index: 1;
      transition: transform 0.5s ease;
      opacity: 0.5;
      animation: moveClouds 160s linear infinite;

      img {
        width: 300px;
      }
    }

    &-clouds4 {
      position: absolute;
      bottom: 0;
      z-index: 1;
      transition: transform 0.5s ease;
      opacity: 0.5;
      animation: moveClouds 160s linear infinite;
    }

    &-mountain {
      position: absolute;
      bottom: -5px;

      & img {
        object-fit: contain;
        width: 100vw;
      }
    }
  }

  & .content {
    background: #fff;

    &-section {
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 100px;
      padding-bottom: 100px;

      &-image {
        text-align: center;

        & img {
          width: 8em;
        }
      }

      &-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        color: $greenColor;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      &-subtitle {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bold;
        color: $grayColor;
        margin-top: 50px;
        margin-bottom: 50px;
      }

      &-description {
        color: $grayColor;
      }
    }
  }

  // Other Services
  #other-services {
    background: $grayColor;
    padding-left: 50px;
    padding-right: 50px;

    & .other-services {
      padding-top: 50px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 50px;

      &-service {
        padding: 20px;
        border: 1px solid $grayColor;
        background: white;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.32);
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.32);
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 70px 90px 1fr;

        &-title {
          text-align: center;
          font-weight: bold;
          color: $greenColor;

        }

        &-image {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          min-height: 78px;

          & img {
            width: 50%;
          }
        }

        &-description {
          font-size: 0.7em;
          color: $grayColor;
        }
      }
    }
  }

  // Instagram

  #instagram {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
      margin-top: 30px;
    }

    & .btn-primary {
      color: #ffffff !important;
      background-color: #9cc346 !important;
      border-color: transparent !important;

      &:hover {
        background-color: #8baa47 !important;
      }
    }
  }

  .instagram-feed {
    padding-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;

    & img {
      width: 100%;
      border: 2px solid #5a5754;
    }
  }

  // Separator

  .triangle-separator::before,
  .triangle-separator::after {
    position: absolute;
    content: '';
    pointer-events: none;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-100%) rotate(45deg) translateY(-70%);
  }

  .triangle-separator.separator-white::before {
    // top: -50px;
    background: white;
  }

  .triangle-separator.separator-gray::before {
    // top: -50px;
    background: $grayColor;
  }

  .triangle-separator::after {
    // bottom: -50px;
    z-index: 10;
    background: inherit;
  }

  // Loader
  .loader {
    &-white {
      & path {
        fill: white;
      }
    }

    &-gray {
      & path {
        fill: $grayColor;
      }
    }
  }

  // Footer

  footer {
    padding: 10px;
    background: $grayColor;
    color: white;
    text-align: center;
    font-size: 0.7em;
  }

  // Animation

  @keyframes moveClouds {
    0% {
      transform: translateX(calc(100vw + 100px));
    }

    100% {
      transform: translateX(calc(-100vw + 100px));
    }
  }

  #clouds {
    background: white;

    & path {
      fill: #8b8783;
    }
  }

  // Overrides of Bootstrap
  .carousel-item {
    text-align: center;
  }

  & .navbar {
    width: 100%;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
  }
}
