@import 'variables';
@import 'steps';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  margin: 0px;
  padding: 0px;
  // background: #eaf6fd;
  background: url('../images/minibackground.jpg');
  overflow-x: hidden;

  & .main {
    height: 100vh;
    width: 100%;

    &-text {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 30px;
      color: #8b8783;
    }

    &-logo {
      position: absolute;
      width: 100%;
      top: calc((100vh / 2) - 225px);
      z-index: -1;
      transition: transform 0.1s ease;

      & img {
        width: 400px;
        object-fit: contain;
      }
    }

    &-clouds1 {
      position: absolute;
      bottom: 135px;
      z-index: 1;
      transition: transform 0.5s ease;
      opacity: 0.5;
      animation: moveClouds 70s linear infinite;

      img {
        width: 300px;
      }

      &.cloud-static {
        bottom: 185px !important;
        transition: transform 0.1s ease !important;
      }
    }

    &-clouds2 {
      position: absolute;
      bottom: 60px;
      z-index: 1;
      transition: transform 0.5s ease;
      opacity: 0.5;
      animation: moveClouds 100s linear infinite;
      overflow: hidden;

      img {
        width: 300px;
        overflow: hidden;
      }

      &.cloud-static {
        bottom: 160px !important;
        left: 420px;
        transition: transform 0.1s ease !important;
      }
    }

    &-clouds3 {
      position: absolute;
      bottom: 120px;
      z-index: 1;
      transition: transform 0.5s ease;
      opacity: 0.5;
      animation: moveClouds 160s linear infinite;

      img {
        width: 300px;
      }

      &.cloud-static {
        bottom: 100px !important;
        right: -50px;
        transition: transform 0.1s ease !important;
      }
    }

    &-clouds4 {
      position: absolute;
      bottom: 0;
      z-index: 1;
      transition: transform 0.5s ease;
      opacity: 0.5;
      animation: moveClouds 160s linear infinite;
    }

    .cloud-static {
      animation: none !important;
    }

    &-mountain {
      position: absolute;
      bottom: -5px;

      & img {
        object-fit: contain;
        width: 100vw;
      }
    }
  }

  & .content {
    background: #fff;

    // background: url('../images/minibackground2.jpg');
    &-section {
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 100px;
      padding-bottom: 100px;

      &-image {
        text-align: center;

        & img {
          width: 8em;
        }
      }

      &-title {
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        color: $greenColor;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      &-subtitle {
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: bold;
        color: $grayColor;
        margin-top: 50px;
        margin-bottom: 50px;
      }

      &-description {
        color: $grayColor;
      }
    }
  }

  // Brand
  #brand {
    padding-bottom: 0px;
  }

  // Other Services
  #other-services {
    // background: linear-gradient(to bottom, #959595 0%,#8b8783 46%,#9e9e9e 50%,#a4a2a2 53%,#8b8783 76%,#8b8783 87%,#8b8783 100%);
    background: $grayColor;
    background: url('../images/minibackground2.jpg');
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 150px;

    & .other-services {

      padding-top: 50px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 50px;

      &-service {
        padding: 20px;
        border: 1px solid $grayColor;
        background: white;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.32);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.32);
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.32);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 90px;
        border-bottom: 4px solid #b7d439;
        cursor: default;

        &:hover {}

        &-title {
          text-align: center;
          font-weight: bold;
          color: $greenColor;

        }

        &-image {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          min-height: 78px;
          grid-row: 3;

          & img {
            width: 50%;
          }
        }

        &-description {
          padding-top: 20px;
          font-size: 0.7em;
          color: $grayColor;
        }
      }
    }
  }

  // Instagram

  #instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $grayColor;

    & button {
      margin-top: 30px;
    }

    & .btn-primary {
      color: #ffffff !important;
      background-color: #9cc346 !important;
      border-color: transparent !important;

      &:hover {
        background-color: #8baa47 !important;
      }
    }
  }

  .instagram-feed {
    padding-top: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;

    & img {
      width: 100%;
      border: 2px solid #5a5754;
    }
  }

  // Our Works
  #our-works {
    background:
      /* top, transparent red, faked with gradient */
      linear-gradient(rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1)),
      /* bottom, image */
      url('../images/art.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .behance-feed {
      padding-top: 20px;
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: repeat(auto-fit, 200px);
      grid-gap: 15px;
      width: 100%;

      &-project {
        background: white;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);
        overflow: hidden;

        & img {
          width: 100%;
          cursor: pointer;
          transition: transform 0.1s ease;

          &:hover {
            transform: scale(1.1);
          }
        }

        &-title {
          padding: 20px;
          font-size: 0.75em;
          font-weight: bold;
          padding-top: 30px;
          color: $grayColor;
        }

        &-stats {
          border-top: 1px #f2f2f2 solid;
          padding: 5px;
          display: flex;
          justify-content: space-around;

          & i,
          span {
            color: $grayColor;
            font-size: 0.8em;
          }

          & span {
            margin-left: 5px;
          }
        }
      }
    }
  }

  // Triangle Separator

  .triangle-separator::before,
  .triangle-separator::after {
    position: absolute;
    content: '';
    pointer-events: none;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-100%) rotate(45deg) translateY(-70%);
  }

  .triangle-separator.separator-white::before {
    // top: -50px;
    background: white;
  }

  .triangle-separator.separator-gray::before {
    // top: -50px;
    background: $grayColor;
  }

  .triangle-separator::after {
    // bottom: -50px;
    z-index: 10;
    background: inherit;
  }

  // Loader
  .loader {
    &-white {
      & path {
        fill: white;
      }
    }

    &-gray {
      & path {
        fill: $grayColor;
      }
    }
  }

  // NavBar contact area
  .navbar-contact {
    display: flex;
    justify-content: center;
    align-items: center;

    &-info {
      padding: 10px;
      font-size: 0.7em;
      display: flex;
      color: $grayColor;

      & div {
        margin-left: 10px;
      }
    }

    &-social {
      & a {
        text-decoration: none;
        color: $grayColor;
        margin-left: 5px;

        & i {
          transition: transform 0.1s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  // Footer

  footer {
    padding: 10px;
    background: $grayColor;
    color: white;
    text-align: center;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & img {
      width: 90px;
      margin-bottom: 10px;
    }

    & .footer {
      &-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;

        &-contact {}

        &-text {}

        &-social {
          & a {
            text-decoration: none;
            color: white;
            font-size: 2em !important;
            margin-left: 10px;

            & i {
              transition: transform 0.1s ease;

              &:hover {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }

  // Animation

  @keyframes moveClouds {
    0% {
      transform: translateX(calc(100vw + 100px));
    }

    100% {
      transform: translateX(calc(-100vw + 100px));
    }
  }

  #clouds {
    background: white;

    & path {
      fill: #8b8783;
    }
  }

  // Overrides of Bootstrap
  .carousel-item {
    text-align: center;
  }

  & .navbar {
    width: 100%;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
  }

  & .navbar-light .navbar-nav .active>.nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link {
    color: $greenColor;
  }
}
