@import './_variables';
@import '../../node_modules/aos/dist/aos.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../../node_modules/jquery-toast-plugin/dist/jquery.toast.min.css';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0px;
  padding: 0px;
  // background: #eaf6fd;
  overflow-x: hidden;

  // Overrides of Bootstrap
  .carousel-item {
    text-align: center;
  }

  & .navbar {
    width: 100%;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14),
      0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    z-index: 1;
  }

  & .nav-link {
    font-size: 0.8em;
  }

  & .navbar-light .navbar-nav .active>.nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show>.nav-link {
    color: $greenColor;
  }
}

.navbar-nav.mr-auto {
  text-align: center !important;
}